$primary-color:white;

footer {
    background-color: #757475;
    height: min-content;
    display: flex;
    justify-content: space-between;
    #footer-heading {
        font-size: 1.8rem;
        color: $primary-color;
        margin: 15px;
    }
    #footer-links {
        ul {
            display: flex;

            li {
                list-style: none;
                margin: 10px;
                font-size: 1.2rem;
                font-weight: 500;
                a {
                    color: $primary-color;
                    text-decoration: none;
                    
                }
            }
        }
    }
}